<%= image_tag("footer.jpg", alt: "background", class: "img-fluid") %>
<br/>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col">
				<small>
					Copyright &copy;Daniel Pham <br/>
					<a href="http://www.freepik.com">Designed by vectorpouch / Freepik</a>
				</small>
			</div>
			<div class="col text-right">
				<small>Powered by<br/>
				<%= image_tag("iex.png", alt: "background", class: "iex") %>
				</small>
			</div>
		</div>
	</div>
	<br/>
</div>
